node_modules/
.next/
.build/
.next-fresh/
.env
.env.local
.env.production.local
.env.development.local
*.log
.DS_Store
tsconfig.tsbuildinfo
.vercel
*.tsbuildinfo
.yarn/
.pnp.*
app_backup/
build-output.log
